.button {
  border-radius: 5px;
  color: #4098c8;
  padding: 0.5rem; }
  .button:hover:before {
    margin-right: 15px; }
  .button:before {
    content: '->';
    position: relative;
    border: 5px;
    font-size: inherit;
    display: inline-block;
    transition: margin 200ms;
    padding: 3px 18px;
    border: 1px solid #4098c8;
    border-radius: 12px;
    margin-right: 10px; }
