.footer {
  background: #2e354f;
  position: relative;
  width: 100%;
  display: block;
  z-index: 10;
  flex: none; }
  .footer__container {
    max-width: 1200px;
    display: flex;
    padding: 1.5rem;
    margin: 0 auto;
    flex-wrap: wrap; }
  .footer__section.documentation {
    flex: 1;
    width: 200px; }
  .footer__section.form {
    flex: 2;
    text-align: center;
    width: 300px; }
  .footer__section.resources {
    flex: 1;
    width: 200px; }
  .footer__section.ecosystem {
    flex: 1;
    width: 200px; }
  .footer__subtitle {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px; }
    .footer__subtitle:not(.no-line):after {
      position: relative;
      content: '';
      display: block;
      height: 1px;
      margin: 15px 0;
      width: 30%;
      background: rgba(255, 255, 255, 0.5); }
  .footer__social_icons {
    max-width: 200px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .footer__social_icons img {
      flex-grow: 1;
      height: 20px;
      max-height: 20px;
      flex-direction: row; }
  .footer__actions {
    color: white;
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap; }
    .footer__actions a {
      letter-spacing: 1px;
      padding: 5px 5px; }
  @media (max-width: 768px) {
    .footer__container {
      align-items: center;
      flex-direction: column;
      text-align: center; }
    .footer__actions {
      align-items: center; }
    .footer__subtitle {
      margin-top: 20px;
      width: 100%; }
      .footer__subtitle:not(.no-line):after {
        width: 100%; }
    .footer .documentation {
      order: 1; }
    .footer .form {
      order: 0; }
    .footer .resources {
      order: 2; }
    .footer .ecosystem {
      order: 3; } }
  @media (min-width: 1000px) {
    .footer .documentation {
      flex: 2;
      width: 200px; }
    .footer__actions {
      max-height: 150px; } }
