.header {
  max-width: 1200px;
  padding: 1.25rem;
  width: 100%;
  display: block;
  z-index: 10;
  flex: none;
  font-family: 'bariolthin'; }
  .header__container {
    display: flex;
    align-items: center; }
  .header__logo {
    display: flex;
    max-width: 200px;
    align-items: center; }
  .header__actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row; }
    .header__actions a {
      letter-spacing: 1px;
      display: inline-block;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1rem;
      padding-left: 1rem; }

.dropdown {
  position: relative; }
  .dropdown__content {
    position: absolute;
    min-width: 100px;
    top: 0px;
    right: -10px;
    display: none;
    flex-direction: column;
    margin-top: 20px;
    text-align: right;
    color: black;
    padding: 15px 10px;
    border-radius: 2px; }
    .dropdown__content a {
      font-size: 1rem;
      transition: 200ms;
      opacity: 0.7;
      padding: 10px 0;
      color: white; }
      .dropdown__content a:hover {
        opacity: 1; }
