.hero {
  margin-top: -80px;
  width: 100vw;
  background: #70b7d5;
  min-height: 500px;
  max-height: 1000px;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  position: relative;
  padding: 0 2rem; }
  .hero__content {
    flex-wrap: wrap;
    height: 90vh;
    max-width: 1100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; }
  .hero__figure {
    max-width: 350px;
    margin-right: 2rem; }
  .hero__copy {
    max-width: 675px;
    flex: 1; }
    .hero__copy a {
      text-decoration: underline;
      font-size: 1.3rem; }
  .hero:after {
    content: '';
    width: 200%;
    height: 200%;
    right: 0;
    position: absolute;
    background: #5ea7d1;
    transform-origin: top right;
    transform: rotate(-40deg);
    z-index: 1; }
  @media (max-width: 500px) {
    .hero__figure {
      display: none;
      max-width: 200px;
      margin-right: 0; } }
