.window {
  margin: 1.5rem;
  background: #26324c;
  border: 1px solid #37486e;
  border-radius: 7px;
  min-height: 274.75px;
  min-width: 350px;
  max-width: 399px;
  position: relative;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.3);
  font-family: monospace; }
  .window__header {
    padding: 7px; }
    .window__header__button__red, .window__header__button__orange, .window__header__button__green {
      float: left;
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 8px;
      background: red;
      border-radius: 0.8rem; }
    .window__header__button__red {
      background: red; }
    .window__header__button__orange {
      background: orange; }
    .window__header__button__green {
      background: green; }
    .window__header__title {
      position: absolute;
      width: 100%;
      text-align: center; }
  .window__content {
    padding: 1.5rem; }
    .window__content pre {
      line-height: 1.3rem;
      /* font-family: monospace; */
      font-size: 0.8rem;
      white-space: pre-wrap;
      font-weight: 600;
      font-family: 'bariolthin'; }
  @media (max-width: 1000px) {
    .window {
      min-height: 137.375px;
      min-width: 262.5px;
      max-width: 299.25px; }
      .window__content {
        font-size: 0.6rem; } }
  @media (max-width: 768px) {
    .window {
      min-height: 137.375px;
      min-width: 175px;
      max-width: 199.5px; }
      .window__content {
        font-size: 0.4rem; } }
  @media (max-width: 500px) {
    .window {
      min-height: 82.425px;
      min-width: 105px;
      max-width: 119.7px; }
      .window__content {
        font-size: 0.24rem; } }
  @media (max-width: 400px) {
    .window {
      min-height: 82.425px;
      min-width: 105px;
      max-width: 119.7px; } }
