<header>
  <img src="img/logo.png">
  <nav>
    <ul>
      <li><a href="#">Overview</a></li>
      <li><a href="#">Docs</a></li>
      <li><a href="#">Github</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>
  <script type="text/javascript" src="js/navbar.js"></script>
</header>

<!-- {% assign sortedPages = site.pages | sort:"order" %}
{% for page in sortedPages %}
  {% if page.title !=  'index' and page.hidden != true %}
      <a href="{{ site.url }}{{ page.permalink }}">{{ page.title }}</a>
  {% endif %}
{% endfor %} -->