<section class="hero landing-page">
  <div class="hero__content">
    <figure class="hero__figure">
      <img  src="img/code.png" alt="" />
    </figure>
    <section class="hero__copy">
      <h1 class="bariol-thin">A vendor-neutral open standard for distributed tracing.</h1>
      <div class="line"></div>
      <h2 class="dark-blue">Libraries available in 6 languanges</h2>
      <p class="dark-blue">
        <a href="https://github.com/opentracing/opentracing-go">Go</a>,
        <a href="https://github.com/opentracing/opentracing-javascript">JavaScript</a>,
        <a href="https://github.com/opentracing/opentracing-java">Java</a>,
        <a href="https://github.com/opentracing/opentracing-python">Python</a>,
        <a href="https://github.com/opentracing/opentracing-objective-c">Objective-C</a>,
        <a href="https://github.com/opentracing/opentracing-csharp">C#</a>,
        <a href="https://github.com/opentracing/opentracing-cpp">C++</a>
      </p>
    </section>
  </div>
  <section class="logo-bar logo-bar--bottom">
    <div class="logo-bar__content">
      <!-- <p>Supported tracers</p> -->
      <div class="logo-bar__logos">
        <a href="#">Zipkin</a>
        <a href="#">Lightstep</a>
        <a href="#">APPDASH</a>
        <a href="#">TRACER</a>
      </div>
      <!-- <p>Compatible frameworks</p> -->
      <div class="logo-bar__logos">
        <a href="#">GRPC</a>
        <a href="#">Fnagle</a>
        <a href="#">Flask</a>
        <a href="#">Django</a>
      </div>
    </div>
  </section>
</section>