<section class="why">

  <section class="why__section app-developr">
    <img class="why__figure" src="img/app_developer.png" alt="">
    <div class="why__content">
      <h4>App developer?</h4>
      <p>Transactions take as they propagate across a distributed system.</p>
      <a class="button" href="#">Read Article</a>
    </div>
  </section>

  <section class="why__section why-tracing">
    <div class="why__content">
      <h2>Why OpenTracing?</h2>
      <p>Learn about our design motivation principles.</p>
      <a class="button" href="#">Read Article</a>
    </div>
  </section>

  <section class="why__section framework-developr">
    <img class="why__figure" src="img/framework_developer.png" alt="">
    <div class="why__content">
      <h4>App developer?</h4>
      <p>Transactions take as they propagate across a distributed system.</p>
      <a class="button" href="#">Read Article</a>
    </div>
  </section>
</section>