
$max-width: 1200px;

$blue-black: #26324c;
$blue: #70b7d5;
$dark-blue: #5ea7d1;
$darker-blue: #4098c8;
$dark-purple: #2e354f;

$xlarge: 1400px;
$large: 1000px;
$medium: 768px;
$small: 500px;
$xsmall: 400px;