@import '../variables';

$header-height: 80px;

.header {
  max-width: $max-width;
  padding: 1.25rem;
  width: 100%;
  display: block;
  z-index: 10;
  flex: none;
  font-family: 'bariolthin';

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    max-width: 200px;
    align-items: center;
  }

  &__actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

    a {
      letter-spacing: 1px;
      display: inline-block;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1rem;
      padding-left: 1.5rem;
    }
  }
}